body {
  text-align: center;
}

header {
  width: 100%;
  margin-top: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

input[type="text"] {
  text-align: left;
  border-color: grey;
  border-radius: 20px;
  font-size: 15px;
  width: 25%;
  height: 30px;
}

button {
  border: 2px solid #e4e4e4;
  margin-top: 30px;
  font-size: 15px;
  height: 28px;
}

.google-image {
  padding-top: 8%;
  padding-right: auto;
  display: block;
}

.form {
  text-align: center;
}

.form-search {
  padding-top: 2%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#nav_bar {
  float: right;
}

#nav_bar li {
  display: inline-block;
  padding: 8px;
}

#sign_in {
  background-color: dodgerblue;
  border-radius: 2px;
  font-weight: bolder;
}

#sign_in a {
  color: white;
}

footer {
  border-top: 2px solid #e4e4e4;
  position: absolute;
  background-color: lightgrey;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer ul li {
  display: inline;
  color: grey;
  margin: 0;
  left: 0;
  padding: 12px;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}
